In [2]:
#Name->Mohammad Azhar SOFI
#ReG.NO.-> RA2011027010035

import pandas as pd
import numpy as np
#1 Import the dataset mobile_prices_2023.csv
df=pd.read_csv("mp.csv")
df.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,"₹7,749",2023-06-17
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17

In [3]:
df.columns

Index(['Phone Name', 'Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage',
       'Back/Rare Camera', 'Front Camera', 'Battery', 'Processor',
       'Price in INR', 'Date of Scraping'],
      dtype='object')

In [4]:
df.shape

(1836, 11)

In [5]:
len(df.columns)

11

In [7]:
df.tail()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
1831,"Infinix Note 7 (Forest Green, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1832,"Infinix Note 7 (Bolivia Blue, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1833,"Infinix Note 7 (Aether Black, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1834,"Infinix Zero 8i (Silver Diamond, 128 GB)",4.2,"7,117",8 GB RAM,128 GB ROM,48MP + 8MP + 2MP + AI Lens Camera,16MP + 8MP Dual Front Camera,4500 mAh,MediaTek Helio G90T Processor,"₹18,999",2023-06-17
1835,"Infinix S5 (Quetzal Cyan, 64 GB)",4.3,"15,701",4 GB RAM,64 GB ROM,16MP + 5MP + 2MP + Low Light Sensor,32MP Front Camera,4000 mAh,Helio P22 (MTK6762) Processor,"₹10,999",2023-06-17

In [8]:
##DATA ANALYSIS

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), object(10)
memory usage: 157.9+ KB

In [11]:
#Description of the data
df.describe()

        Rating ?/5
count  1836.000000
mean      4.210512
std       0.543912
min       0.000000
25%       4.200000
50%       4.300000
75%       4.400000
max       4.800000

In [12]:
#checking whether there is duplicates or not
len(df[df.duplicated()])

69

In [13]:
##check missing values
df.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

In [14]:
df.nunique()

Phone Name           1507
Rating ?/5             22
Number of Ratings     717
RAM                    46
ROM/Storage            27
Back/Rare Camera      174
Front Camera           33
Battery               102
Processor             332
Price in INR          519
Date of Scraping        1
dtype: int64

In [15]:
#Null values removed
df1=df.dropna()

In [19]:
df1.isnull().sum()

Phone Name           0
Rating ?/5           0
Number of Ratings    0
RAM                  0
ROM/Storage          0
Back/Rare Camera     0
Front Camera         0
Battery              0
Processor            0
Price in INR         0
Date of Scraping     0
dtype: int64

In [24]:
#Apply label encoder for all the string attributes
list=["Phone Name","Rating ?/5" ,"Number of Ratings","RAM","ROM/Storage","Back/Rare Camera","Front Camera" ,"Battery" ,"Processor" ,"Price in INR","Date of Scraping"]
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in list:
    df1[i]=le.fit_transform(df1[i])

C:\Users\MOHAMMAD AZHAR SOFI\AppData\Local\Temp\ipykernel_2360\1944750177.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[i]=le.fit_transform(df1[i])

In [25]:
df1

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,450,8,318,4,4,144,26,65,116,204,0
1,493,8,481,6,7,99,31,65,102,35,0
2,452,9,140,6,7,145,26,65,40,226,0
3,454,8,227,6,7,118,26,65,122,238,0
4,451,9,140,6,7,145,26,65,40,226,0
...,...,...,...,...,...,...,...,...,...,...,...
1831,112,9,241,6,7,69,12,65,75,64,0
1832,111,9,241,6,7,69,12,65,75,64,0
1833,110,9,241,6,7,69,12,65,75,64,0
1834,151,8,460,9,1,77,10,51,80,99,0
1835,113,9,143,6,7,50,20,32,43,18,0

In [26]:
for i in list:
  df1[i]=df1[i].astype(int)

C:\Users\MOHAMMAD AZHAR SOFI\AppData\Local\Temp\ipykernel_2360\2542236936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[i]=df1[i].astype(int)

In [27]:
df1

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,450,8,318,4,4,144,26,65,116,204,0
1,493,8,481,6,7,99,31,65,102,35,0
2,452,9,140,6,7,145,26,65,40,226,0
3,454,8,227,6,7,118,26,65,122,238,0
4,451,9,140,6,7,145,26,65,40,226,0
...,...,...,...,...,...,...,...,...,...,...,...
1831,112,9,241,6,7,69,12,65,75,64,0
1832,111,9,241,6,7,69,12,65,75,64,0
1833,110,9,241,6,7,69,12,65,75,64,0
1834,151,8,460,9,1,77,10,51,80,99,0
1835,113,9,143,6,7,50,20,32,43,18,0

In [28]:
X=df1.drop(["Price in INR"],axis=1)
X

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Date of Scraping
0,450,8,318,4,4,144,26,65,116,0
1,493,8,481,6,7,99,31,65,102,0
2,452,9,140,6,7,145,26,65,40,0
3,454,8,227,6,7,118,26,65,122,0
4,451,9,140,6,7,145,26,65,40,0
...,...,...,...,...,...,...,...,...,...,...
1831,112,9,241,6,7,69,12,65,75,0
1832,111,9,241,6,7,69,12,65,75,0
1833,110,9,241,6,7,69,12,65,75,0
1834,151,8,460,9,1,77,10,51,80,0
1835,113,9,143,6,7,50,20,32,43,0

In [29]:
y=df1.iloc[:,-2]
y

0       204
1        35
2       226
3       238
4       226
       ...
1831     64
1832     64
1833     64
1834     99
1835     18
Name: Price in INR, Length: 1291, dtype: int32

In [30]:
#Apply MinMax Scaler

from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
scx=mms.fit_transform(X)

In [31]:
# spliting dataset into training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(scx,y,random_state=1,test_size=.2)

In [32]:
#Construct Linear Regression Model

from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(X_train,y_train)
y_pred=mlr.predict(X_test)
y_pred

array([153.91252384, 104.17000309, 120.15778492, 166.49893343,
       117.11727891, 125.30764376, 149.41686455, 108.73376935,
       129.16896931,  98.73476513, 144.43819042, 144.80525452,
       153.87655751, 116.00916336, 158.80285593, 163.1102269 ,
        92.75325881, 159.97413519, 117.67119233, 149.56931855,
       102.55078283, 144.01387371, 138.37888063, 151.79486886,
       196.8933616 , 114.25582843, 125.20864607, 164.69178374,
       117.11287902, 154.77484072, 147.96047812, 148.85545938,
       118.80996422, 128.8966709 , 120.26568392,  89.76116268,
       129.23914174, 130.92704595, 106.59276712, 105.37291032,
       104.11123522, 171.8270803 , 167.32608806, 135.74384985,
        97.86986088, 116.18207883, 156.74873645, 133.57628927,
       170.29962821, 102.97987975, 105.36009177, 102.62271549,
       137.30266775,  99.09602934, 166.5688115 , 116.03879503,
       125.98667439, 123.79023491, 151.8932724 , 150.24672662,
       128.59173262, 110.01106053, 143.33859855, 137.64325329,
       138.33071086, 109.40444842, 128.22826003, 137.67921962,
       109.07907973, 110.53077053, 132.94025673, 116.01415013,
        90.17720793, 144.27731889, 110.4955206 , 129.99263385,
       142.39824549, 132.49834033, 123.90615272, 146.6357873 ,
       128.83237994, 113.90223482, 122.88783137, 127.06335597,
       142.16371025, 140.13040921, 173.75417544, 113.7965002 ,
       107.41749672, 128.86070457, 131.92317589, 147.23764762,
       120.79241341, 168.87406958,  75.87737538, 101.88706577,
       137.90941353, 147.98911073, 146.23464066, 160.93377989,
       163.59310651, 124.37129203, 119.44010998, 157.86502418,
       111.60262137, 106.63775307, 158.32972044,  92.16000221,
       117.02226198,  95.09217306, 132.07660279,  88.15927435,
       115.05201075, 135.88126944, 105.40887665, 104.55991383,
       151.34926805, 175.0171546 , 186.00115775, 131.84367198,
       148.72283406, 115.83819839, 109.62568393, 139.31317072,
       112.48511482, 131.88525673, 142.60233505, 139.61435826,
        82.31224879, 116.03462987, 166.57086609, 142.19206694,
       144.68031329, 129.76966848, 140.35573263, 141.50941022,
       144.60838063, 136.60930683,  95.04473471,  98.78308836,
       119.65590796, 120.38542388, 172.63931389, 133.26174047,
       145.00723235, 121.41092116, 163.03829424, 130.89107962,
       169.05520836, 106.8621293 , 178.85008625, 115.12394341,
       159.6407105 , 128.79641361, 109.2601718 , 109.81527712,
       124.80264517, 100.50860928,  92.96949448,  93.20254938,
       130.30153913, 124.447094  , 115.87416472, 138.64057041,
       135.04402375, 101.54169724, 142.89560112, 141.1067456 ,
        82.2043498 , 156.73629898, 127.559226  , 112.46663613,
       158.36568677, 108.5531156 , 157.12737211, 171.89901296,
       101.07629063, 156.1176063 , 169.16152582, 170.78134032,
       116.11072769, 147.84524541, 129.90757364, 154.91915451,
       127.97514178, 130.84385837,  96.37952831, 121.49907214,
        76.87620293, 151.05495964, 118.59946364, 151.49313337,
       124.57928229, 117.96586609, 144.97126602, 124.18613449,
       181.10025223, 110.83971753, 105.90213899, 137.92281417,
       138.40264352, 133.53664769, 160.86184722, 122.81589871,
       116.0086599 , 176.33845615, 130.12703466, 111.08227481,
       154.88337213, 100.50530848, 145.18533676, 136.03104536,
       117.99658708, 124.15052697,  87.67603432, 123.3566481 ,
       154.85762667, 129.87880993, 127.13528863, 149.10177843,
       137.08501591, 139.52368045, 185.39749173, 121.17759674,
       125.95070806, 109.21635871, 153.91293941, 132.18026714,
       151.75046368, 111.94537778, 113.13967433, 121.21356307,
       143.37456488, 131.39397104, 117.74312499, 112.63397779,
       133.26438712, 162.00851548, 126.58172652,  89.79712901,
       145.97925192, 124.34201389, 187.78867332, 132.67706448,
       140.8957237 , 115.91013105, 159.63902412, 113.85086092,
       102.19722347, 108.48634779,  84.19361783, 112.49011247,
       125.33830992, 114.59526648, 117.82733529, 127.84309664,
       133.65563294, 125.33371614, 163.62907284])

In [33]:
y_test

1753    266
897      70
60      113
1319    243
1048    119
       ...
1755     77
155      82
665      50
1757     18
874     268
Name: Price in INR, Length: 259, dtype: int32

In [34]:
# Find R2 value
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print('r2 score for perfect model is', r2)

r2 score for perfect model is 0.08931522689327653

In [35]:
#Apply 6 Fold Cross Validation
from sklearn.model_selection import cross_val_score
X=df1.drop('Price in INR',axis=1).values
y=df1[['Price in INR']]
lmr = LinearRegression()
scores = cross_val_score(lmr, X, y, scoring='r2', cv=6)
scores

array([ 0.0543175 , -0.0754228 , -0.00250616, -0.1065212 , -0.03410787,
        0.03710606])

In [1]:
#find r2 value

In [37]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train,y_test = train_test_split(X, y,
                                     train_size = 0.7,
                                     test_size = 0.3,
                                     random_state = 10)

model = LinearRegression()
mlr.fit(X_train,y_train)
predictions = mlr.predict(X_test)
r2 = r2_score(y_test, predictions)
print('Before Cross Validation: r2 score for perfect model is', r2*100)


scores = cross_val_score(model, X, y, cv=5,scoring='r2')
print("After Cross validation",scores*100)

Before Cross Validation: r2 score for perfect model is 7.300640179027118
After Cross validation [  6.06880304 -13.58819866  -4.93811752 -10.62603659   4.97199107]